.rst-content table {
    float: left;
}

/* Heading colours */
h1, h2, h3, h4, h5, h6 {
    color: #A3333D !important;
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h2,
body[data-theme="dark"] h3,
body[data-theme="dark"] h4,
body[data-theme="dark"] h5,
body[data-theme="dark"] h6 {
    color: #EBC1C5 !important;
}

@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) h1,
    body:not([data-theme="light"]) h2,
    body:not([data-theme="light"]) h3,
    body:not([data-theme="light"]) h4,
    body:not([data-theme="light"]) h5,
    body:not([data-theme="light"]) h6 {
        color: #EBC1C5 !important;
    }
}
